In [14]:
a = 5
print(a)

5

# 1. Heading in my notebook
### <I>Changing variable value</I>

In [11]:
# python comment
a = 7

In [12]:
print(a)

7

In [15]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [16]:
print("total number of keywords in python:",len(keyword.kwlist))

total number of keywords in python: 35

In [29]:
# no need of telling type of variable
x = 3
y = "Hello ji"

In [30]:
# type() returns type of value held by variable
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [32]:
# returns address of x
id(x)

140723892594528

In [41]:
# returns address of y
id(y)

2069300800176

# 2. Numerical operations

In [55]:
m,n = 2,8

In [57]:
print (m,n,m+n,m*n,m/n)

2 8 10 16 0.25

In [58]:
div = m/n
type(div)

float

In [56]:
print(m%n) # modulo
print(m // n, n // m) # floored division (takes floor value of divided result)
print(m ** n, n ** m) # power a ** b => a^b

2
0 4
256 64

In [61]:
var = 2
var +=3
print(var)
var -=1
print(var)

5
4

In [86]:
import math
print(math.log10(1000))
print(math.log2(1024))
print(math.log(2.72))

3.0
10.0
1.000631880307906

In [93]:
math.sin(3.14/6)

0.4997701026431024

In [95]:
round(2.3)

2

# 3. Logical operators

In [121]:
w,v,o = True,False,1
w and o, w or v, w and not o, v or o, v and o, o!=True

(1, True, False, 1, False, False)

In [122]:
True & False , True | False, not True

(False, True, False)

# 4. if else

In [127]:
num = int(input("enter a number: "))

if(num > 0):
    print(num, " is positive")
elif(num == 0):
    print(num, "is zero")
else:
    print(num, "is negative")

enter a number: -5
-5 is negative

# 5. for loop

In [132]:
fruits = ["mango", "orange", "grape", "papaya", "apricot", "watermelon"]

In [133]:
print(len(fruits[0]))

5

In [146]:
for i in range(6):
    print("{}".format(fruits[i]), ":", len(fruits[i]))

mango : 5
orange : 6
grape : 5
papaya : 6
apricot : 7
watermelon : 10

In [147]:
for i in range(1,10,2):  # range(start index, end index, jump)
    print(i)

1
3
5
7
9

In [149]:
# star pattern
str1 = ""
for i in range(0,9):
    if i<5:
        str1 +="*"
        print(str1)
    elif i>4:
        str1 = str1[:-1]
        print(str1)

*
**
***
****
*****
****
***
**
*

In [154]:
str2 = "shaleen govil"
for char in enumerate(str2):
    print(char)

(0, 's')
(1, 'h')
(2, 'a')
(3, 'l')
(4, 'e')
(5, 'e')
(6, 'n')
(7, ' ')
(8, 'g')
(9, 'o')
(10, 'v')
(11, 'i')
(12, 'l')

# 6. Functions

In [178]:
def cube(n):
    """function to cube a    
    number"""
    out = n** 3
    return out

In [172]:
print(cube(3.2))

32.76800000000001

In [179]:
print(cube.__doc__) # to print the ddocumentation of (if given), none otherwise

function to cube a
    number

In [158]:
# not sure how many arguments to pass, use *args
def func(*args):  
    print(args)
    print(sum(args))

In [159]:
func(4,6,8)

(4, 6, 8)
18

### Lambda functions
They are the anonymous functions, sort of inline functions

In [185]:
name = "Shaleen ji govil"
string_to_list = lambda x: x.split() 
print(string_to_list(name))
print(type(string_to_list))

['Shaleen', 'ji', 'govil']
<class 'function'>

In [168]:
multiply,add = lambda x,y: x*y, lambda x:x+2
print(multiply(3,5),add(5))

15 7

In [187]:
print(multiply.__doc__) # I think we can't give documentation to lambda functions

None

# 7. Strings

In [225]:
lowercase = "shaleen"
uppercase = "SHALEEN"
mixcase = "GoViL"
print(lowercase.upper(), mixcase.upper())
print(uppercase.lower(),mixcase.lower())
print(lowercase.capitalize(),mixcase.capitalize()) #sort of punctuates => only first letter(of string not sentence) capital rest small.

SHALEEN GOVIL
shaleen govil
Shaleen Govil

### Stripping strings
Right strip and left strip

In [192]:
strip1 = "##yo**"
print(strip1.rstrip("*").lstrip("#"))

yo

### Slicing of string

In [202]:
val = "4 apples"
print(val[0])
print(val[:]) # slice a:b => string[a] to string[a-1], by default a = 0 and b = length of string
print("no. of apples- " + str(val[:1]))

4
4 apples
no. of apples- 4

In [212]:
val.replace("a","@") # replace a character

'4 @pples'

<p>4    @  p  p  l  e s </p>
<p>0 1  2  3  4  5  6 7  </p>
<p>-8...............-2-1 </p>

In [217]:
print(val[3:-1])
print(val[-8:])

print(val[0::2]) #a::b => a is start index, b is jump

pple
4 apples
4ape

In [226]:
height = "6ft"
weight = 70
print("I am {} tall and weighs {} kg".format(height,weight))

I am 6ft tall and weighs 70 kg

In [231]:
stringX = "govil"
stringY = "go"
stringY in stringX  # true if stringY is contained in stringX

True

# 8. Lists - []

Similar to string, used for analysis of string

In [1]:
a = []
print(a)

[]

In [6]:
languages = ["java", "python", "C++", "Ruby", "Perl", 32 ] #hetrogeneous elements
print(languages)
print(languages[1], languages[-2]) #access like array
print(languages[1:4]) #slicing OP

['java', 'python', 'C++', 'Ruby', 'Perl', 32]
python Perl
['python', 'C++', 'Ruby']

In [18]:
languages.append("basic")  # add at last
print(languages)

['java', 'python', 'C++', 'Ruby', 'Perl', 32, 'basic']

In [19]:
languages.pop() # remove from last
print(languages)

['java', 'python', 'C++', 'Ruby', 'Perl', 32]

In [20]:
languages.remove(32) # remove a specific element
print(languages)

['java', 'python', 'C++', 'Ruby', 'Perl']

In [21]:
languages.pop(3) # pop a particular index
print(languages)

['java', 'python', 'C++', 'Perl']

In [23]:
new_list = languages 
new_list.append("swift") # appended in new_list
print(languages)  # change occured in languages = > new_list and languages are not independent and point to same memory loc

['java', 'python', 'C++', 'Perl', 'swift']

In [25]:
print(id(new_list)) 
print(id(languages))

2381146845952
2381146845952

In [38]:
new_list1 = new_list[:] # to avoid making same memory reference , we do like this
print(id(new_list1))
new_list1.append("brainfuck")  # only new_lis1 got modified
print(new_list1)
print(new_list) # no change as different reference are created

2381146845440
['java', 'python', 'C++', 'Perl', 'swift', 'brainfuck']
['java', 'python', 'C++', 'Perl', 'swift']

In [41]:
new_list2 = new_list.copy() # can also do like this
print(id(new_list2))
new_list2.append("whitespace")
print(new_list2)
print(new_list)
print(new_list1)

2381147013888
['java', 'python', 'C++', 'Perl', 'swift', 'whitespace']
['java', 'python', 'C++', 'Perl', 'swift']
['java', 'python', 'C++', 'Perl', 'swift', 'brainfuck']

In [45]:
mail = "Hi Shaleen, how are you?, Happy as always, sir!"
words = mail.split()
print(words)
print(type(words))

['Hi', 'Shaleen,', 'how', 'are', 'you?,', 'Happy', 'as', 'always,', 'sir!']
<class 'list'>

In [47]:
words2 = mail.split(",") # separates after encountering a delimiter - ","
words2

['Hi Shaleen', ' how are you?', ' Happy as always', ' sir!']

In [52]:
sentences1 = " ".join(words2)
sentences2 = ",".join(words2) # joins using a demlimiter - ","
sentences1, sentences2

('Hi Shaleen  how are you?  Happy as always  sir!',
 'Hi Shaleen, how are you?, Happy as always, sir!')

In [59]:
name = ["govil"]
print(name*5)
print(name + name)

['govil', 'govil', 'govil', 'govil', 'govil']
['govil', 'govil']

In [61]:
nums = [1,3,5,6,3,7,9]
max(nums), min( nums)

(9, 1)

In [62]:
sorted(nums)

[1, 3, 3, 5, 6, 7, 9]

### nested list

In [65]:
n = [[1,2,3],[4,5,6],[7,8,9]]
print(n[1])
print(n[0][2])

[4, 5, 6]
3

# 9. Tupples - ()
Similar to list but once created they cannot be modified

In [66]:
bmi = ("shaleen", 70, 5.8)
print(type(bmi))
print(bmi[0])

<class 'tuple'>
shaleen

In [67]:
print(bmi[1:3])

(70, 5.8)

In [68]:
bmi[1] = 50 #tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [71]:
bmi2 = bmi
print(bmi2, type(bmi2), id(bmi2), id(bmi))

('shaleen', 70, 5.8) <class 'tuple'> 2381145795584 2381145795584

In [72]:
bmi2.append("yo") # can't modify is a serious shit

AttributeError: 'tuple' object has no attribute 'append'

In [74]:
bmi_nan = "nandini", 50, 5.5  # no need of brackets in tupple
type(bmi_nan)

tuple

In [75]:
bmi_both = bmi, bmi_nan
print(bmi_both) # tupple of tupple

(('shaleen', 70, 5.8), ('nandini', 50, 5.5))

In [78]:
type(bmi_both), type(bmi_nan)

(tuple, tuple)

In [80]:
print(len(bmi_both))
print(bmi_both[1][2])

2
5.5

In [84]:
bmi_nan_list = list(bmi_nan) # tupple to list, smly we can do list to tupple
bmi_nan_list[2] = 5.3
print(bmi_nan_list)

['nandini', 50, 5.3]

In [88]:
bmi_list = list(bmi)
bmi_both = bmi_list, bmi_nan_list # tupple of list
print(bmi_both)

(['shaleen', 70, 5.8], ['nandini', 50, 5.3])

In [89]:
bmi_both[0] = ["stop", "testing", "me"]  # told ya

TypeError: 'tuple' object does not support item assignment

In [90]:
bmi_both[0][1]  = 75 # coz list can be modified
print(bmi_both)

(['shaleen', 75, 5.8], ['nandini', 50, 5.3])

# 10. Sets {}
contains unique elements only in sorted fashion

In [92]:
Aru_grades = ["O","A+","O","A","B+"]
mannu_grades = ["A+","B","B+","O","O"]
Aru_grades = set(Aru_grades)
mannu_grades = set(mannu_grades)
print(mannu_grades)
print(Aru_grades)

{'B', 'O', 'B+', 'A+'}
{'A', 'O', 'B+', 'A+'}

In [93]:
mannu_grades.intersection(Aru_grades)

{'A+', 'B+', 'O'}

In [94]:
mannu_grades.union(Aru_grades)

{'A', 'A+', 'B', 'B+', 'O'}

In [96]:
mannu_grades.difference(Aru_grades)

{'B'}

In [99]:
"F" in Aru_grades

False

In [112]:
Aru_grades.add("F") 
print(Aru_grades)

{'B+', 'A+', 'F', 'A', 'O'}

In [113]:
Aru_grades.remove("F")
print(Aru_grades)

{'B+', 'A+', 'A', 'O'}

In [108]:
for i in mannu_grades:
    print(i)

B
O
B+
A+

In [109]:
Aru_grades.issubset(mannu_grades)

False

In [114]:
Aru_grades.remove("A")
Aru_grades.issubset(mannu_grades)

True

In [117]:
Aru_grades.add("A")
Aru_grades.symmetric_difference(mannu_grades) # A ðŸ”¼ B = (A-B) U (B-A)

{'A', 'B'}

# 11. Dictionaries
stores Key-value pair

In [118]:
numbers = {1,3,4,5,6,73,3} # this is set
print(numbers)

{1, 3, 4, 5, 6, 73}

In [119]:
type(numbers) # as evident from here

set

In [121]:
no = {} # empty set => dictionary
type(no)

dict

In [122]:
d = {"actor":"akshay", "animal":"dog","planet":"earth","list":[3,4,5]}

In [124]:
print(d["actor"], d["list"])   # accessing values

akshay [3, 4, 5]

In [125]:
d.get("planet")  # accessing value aliter

'earth'

In [130]:
print(d.get("profession"))

None

In [131]:
d["profession"] = "teacher"
print(d)

{'actor': 'akshay', 'animal': 'dog', 'planet': 'earth', 'list': [3, 4, 5], 'profession': 'teacher'}

In [133]:
print(list(d.keys()))
print(list(d.values()))

['actor', 'animal', 'planet', 'list', 'profession']
['akshay', 'dog', 'earth', [3, 4, 5], 'teacher']

In [134]:
new = dict(singer = "honey singh", songs = ["love dose","blue eyes"])

In [136]:
d.update(new)
print(d)

{'actor': 'akshay', 'animal': 'dog', 'planet': 'earth', 'list': [3, 4, 5], 'profession': 'teacher', 'singer': 'honey singh', 'songs': ['love dose', 'blue eyes']}

In [151]:
print(d["songs"]) # gives value of key "songs"
print(d["songs"][1]) # manipulating value which is a list

['love dose', 'blue eyes']
blue eyes

In [153]:
d["songs"][1] = "saiyaan ji" # updating list
print(d["songs"])

['love dose', 'saiyaan ji']

In [154]:
d["songs"].append("yo yo")
print(d["songs"])

['love dose', 'saiyaan ji', 'yo yo']

In [144]:
del d["singer"] # deleting a key will remove that key-value pair

In [145]:
print(d)

{'actor': 'akshay', 'animal': 'dog', 'planet': 'earth', 'list': [3, 4, 5], 'profession': 'teacher', 'songs': ['love dose', 'blue eyes']}

In [146]:
print(len(d)) # no. of keys

6

In [158]:
d[2] = ("two","II")  # 2 is key not the index

In [159]:
print(d)

{'actor': 'akshay', 'animal': 'dog', 'planet': 'earth', 'list': [3, 4, 5], 'profession': 'teacher', 'songs': ['love dose', 'saiyaan ji', 'yo yo'], 2: ('two', 'II')}

In [160]:
d[2]

('two', 'II')

In [162]:
type(d[2])

tuple

In [164]:
d[3] = "three,III"  # string not tupple
print(d)

{'actor': 'akshay', 'animal': 'dog', 'planet': 'earth', 'list': [3, 4, 5], 'profession': 'teacher', 'songs': ['love dose', 'saiyaan ji', 'yo yo'], 2: ('two', 'II'), 3: 'three,III'}

In [166]:
print(d[3])
print(type(d[3]))

three,III
<class 'str'>

In [167]:
for a,b in d.items():
    print(a,":",b)

actor : akshay
animal : dog
planet : earth
list : [3, 4, 5]
profession : teacher
songs : ['love dose', 'saiyaan ji', 'yo yo']
2 : ('two', 'II')
3 : three,III

# 12. Comprehensions 
Optimized version of writing loops and using python data structures

### Example-1

In [168]:
square_list1 = []
for x in range(1,10):
    square_list.append(x**2)
print(square_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [170]:
square_list2 = [x**2 for x in range(1,10)]
print(square_list2)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

### Example-2

In [171]:
para = ["Hello Uncle namaste", "chalo kaam ki baat", "pe aate hain."]

single_word_list1 = []
for sen in para:
    for word in sen.split():
        single_word_list1.append(word)
print(single_word_list1)

['Hello', 'Uncle', 'namaste', 'chalo', 'kaam', 'ki', 'baat', 'pe', 'aate', 'hain.']

In [173]:
single_word_list2 = [word for sen in para for word in sen.split()]
print(single_word_list2)

['Hello', 'Uncle', 'namaste', 'chalo', 'kaam', 'ki', 'baat', 'pe', 'aate', 'hain.']

### Example-3

In [194]:
vowels = ["a","e","i","o","u"]
vowels_from_para = []
for sen in para:
    for word in sen.split():
        if word[0].lower() in vowels:
            vowels_from_para.append(word)
            
print(vowels_from_para)

['Uncle', 'aate']

In [197]:
vowels_words = [word for sen in para for word in sen.split() if word[0].lower in vowels]
print(vowels_words)

[]

### Example-4

In [196]:
squared_dictionary = {num : num**2 for num in range(1,26)}
print(squared_dictionary)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576, 25: 625}

### Example-5

In [198]:
students_data = {3:["Ajit",87], 10:["Arunish",79], 19:["Jayesh",65], 32:["Tarang",82]}
print(students_data)

{3: ['Ajit', 87], 10: ['Arunish', 79], 19: ['Jayesh', 65], 32: ['Tarang', 82]}

In [201]:
even_roll = {}

for roll, detail in students_data.items():
    if roll%2 == 0:
        even_roll[roll] = detail[0]
        
print(even_roll)

{10: 'Arunish', 32: 'Tarang'}

In [202]:
odd_roll = {roll : details[0] for roll,details in students_data.items() if roll%2 != 0}
print(odd_roll)

{3: 'Ajit', 19: 'Jayesh'}